<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #64437d;
    color: white;
    font-weight: 600;
  }

  .toolbar i {
    padding-left: 30px;
    cursor: pointer;
  }
  .toolbar .employee {
    float: right;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
</style>

<nav
  class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar"
>
  <div class="toolbar" role="banner">
    <div class="col-sm-8 d-flex align-middle gap-3">
      <h4><i class="fas fa-home" (click)="HomeClick()"></i></h4>
      <div class="d-flex align-middle gap-2">
        <a
          href="#"
          routerLink="/school"
          class="btn text-light"
          [routerLinkActive]="['activeRouter']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Trường học</a
        >

        <a
          href="#"
          routerLink="/class"
          class="btn text-light"
          [routerLinkActive]="['activeRouter']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Lớp học</a
        >

        <a
          href="#"
          routerLink="/student"
          class="btn text-light"
          [routerLinkActive]="['activeRouter']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Học sinh</a
        >
      </div>
    </div>
    <div class="col-sm-4">
      <span class="employee">CRUD - Angular</span>
    </div>
  </div>
</nav>
<p-toast />
<router-outlet></router-outlet>
