<form
  [formGroup]="classForm"
  class="d-block"
  style="height: 100% !important; position: relative"
>
  <div class="d-flex flex-column gap-3">
    <div class="d-flex flex-column gap-2">
      <label htmlFor="name" class="!text-red-500">Tên lớp học</label>
      <input
        pInputText
        pAutoFocus
        [autofocus]="true"
        id="name"
        aria-describedby="name-help"
        formControlName="name"
        [readOnly]="mode === 'view'"
        placeholder="Nhập tên lớp học"
        [ngClass]="{
          'is-invalid':
            classForm.get('name')?.invalid && classForm.get('name')?.touched
        }"
      />
      <div
        *ngIf="classForm.get('name')?.invalid && classForm.get('name')?.touched"
        class="invalid-feedback"
      >
        Tên lớp học là bắt buộc.
      </div>
    </div>
    <div class="d-flex flex-column gap-2">
      <label htmlFor="address" class="!text-red-500">Trường</label>
      <p-dropdown
        [options]="schoolList"
        optionLabel="name"
        optionValue="id"
        [filter]="true"
        filterBy="name"
        [showClear]="mode === 'view' ? false : true"
        placeholder="Chọn trường"
        formControlName="school_id"
        (onChange)="handleChangeSchool($event)"
        [readonly]="mode === 'view'"
        class=""
        [ngClass]="{
          'is-invalid ng-dirty ng-invalid':
            classForm.get('school_id')?.invalid &&
            classForm.get('school_id')?.touched
        }"
      >
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-class pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ class.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <div
        *ngIf="
          classForm.get('school_id')?.invalid &&
          classForm.get('school_id')?.touched
        "
        class="invalid-feedback"
      >
        Trường học là bắt buộc.
      </div>
    </div>
  </div>

  <div class="position-absolute bottom-0 end-0" *ngIf="mode !== 'view'">
    <div class="d-flex gap-3 justify-content-end">
      <p-button
        label="Hủy"
        styleClass="p-button-raised p-button-text p-button-secondary"
        (click)="ref.close()"
      ></p-button>
      <p-button label="Lưu" (click)="submit()"></p-button>
    </div>
  </div>
</form>
